{% extends 'layout.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>{{ 'Edit question' if question else 'New Question' }} | Ask Mate</title>
    <h1>{{ 'Edit question' if question else 'Add a new question' }}</h1>  
{% endblock head %}
    
{% block body %}

    <form id="question_form" action="{{ url_for('route_question_edit', id=question.id) if question else url_for('route_ask') }}" method="POST"
            enctype="multipart/form-data" style="display: inline;">
        <label for="title_input">Title</label><br>
        <input type="text" name="title" id="title_input" form="question_form" required
            value="{{ question.title if question else '' }}" value="{{ value | replace('\'', '\\\'') | replace('&quot', '\\&quot') | e }}"><br>
        <label for="message_input">Message</label><br>
        <textarea name="message" id="message_input" cols="30" rows="10" form="question_form" required>{{ question.message if question else '' }}</textarea><br>
        <br>
        <label for="image_input" style="margin-left: 120px;">Image</label>
        <input type="file" name="image" id="image_input" accept="image/png, image/jpg, image/jpeg" style="margin-left: 30px;"><br>
        <br>
        <input type="submit" value="{{ 'Edit' if question else 'Ask' }}" form="question_form" class="btn abc">
    </form>
    {% if question %}
        <form class="tlb" action="{{ url_for('route_question', id=question.id) }}" method="get" style="display: inline;">
            <button type="submit" class="btn abc">Cancel</button>
        </form>
    {% else %}
        <form class="tlb" action="{{ url_for('route_list') }}" method="get" style="display: inline;">
            <button type="submit" class="btn abc">Cancel</button>
        </form>
    {% endif %}
{% endblock body %}
