{% extends 'layout.html' %}
    {% block head %}
        <meta charset="UTF-8">
        <title>Edit answer | Ask Mate</title>
    {% endblock head %}
        
    {% block body %}
        <h1>Edit Answer</h1>
        <form method="POST" action="{{ url_for('route_edit_answer', answer_id=answer.id) }}">
            <textarea name="message" id="message_input" cols="30" rows="10" required >{{answer.message}}</textarea><br>
            <br>
            <button type="submit" class="btn abc">Edit</button>
        </form>
    {% endblock body %}