{% extends 'layout.html' %}
    {% block head %}
        <meta charset="UTF-8">
        <title>All questions | Ask Mate</title>
    {% endblock head %}

    {% block body %}
        <h1>Ask Mate</h1>
        <form action="{{ url_for('route_ask') }}" method="get">
            <button type="submit" class="btn abc">Ask Question</button>
        </form>
        <table class="center">
            <tr>
                {% if sort_key == 'id' and sort_order == 'asc' %}
                    <th><a href="{{ url_for('route_list', order_by='id', order_direction='desc') }}">Id</a></th>
                {% else %}
                    <th><a href="{{ url_for('route_list', order_by='id', order_direction='asc') }}">Id</a></th>
                {% endif %}
                {% if sort_key == 'title' and sort_order == 'asc' %}
                    <th><a href="{{ url_for('route_list', order_by='title', order_direction='desc') }}">Title</a></th>
                {% else %}
                    <th><a href="{{ url_for('route_list', order_by='title', order_direction='asc') }}">Title</a></th>
                {% endif %}
                {% if sort_key == 'submission_time' and sort_order == 'asc' %}
                    <th><a href="{{ url_for('route_list', order_by='submission_time', order_direction='desc') }}">Submission Time</a></th>
                {% else %}
                    <th><a href="{{ url_for('route_list', order_by='submission_time', order_direction='asc') }}">Submission Time</a></th>
                {% endif %}
                {% if sort_key == 'view_number' and sort_order == 'asc' %}
                    <th><a href="{{ url_for('route_list', order_by='view_number', order_direction='desc') }}">View Number</a></th>
                {% else %}
                    <th><a href="{{ url_for('route_list', order_by='view_number', order_direction='asc') }}">View Number</a></th>
                {% endif %}
                {% if sort_key == 'vote_number' and sort_order == 'asc' %}
                    <th><a href="{{ url_for('route_list', order_by='vote_number', order_direction='desc') }}">Vote Number</a></th>
                {% else %}
                    <th><a href="{{ url_for('route_list', order_by='vote_number', order_direction='asc') }}">Vote Number</a></th>
                {% endif %}
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td><a href="{{ url_for('route_question', id=question.id) }}">{{ question.title }}</a></td>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td>{{ question.message }}</td>
                    <td>{% if question.image %}<img src="{{ url_for('route_image', name=question.image) }}", width="100px">{% endif %}</td>
                    <td>
                        <form method="get" action="{{ url_for('route_question_vote_up', id=question.id) }}">
                            <button type="submit" class="btn abc">&uarr;</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="{{ url_for('route_question_vote_down', id=question.id) }}">
                            <button type="submit" class="btn abc">&darr;</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form class="tlb" action="{{ url_for('route_index') }}" method="get">
            <button type="submit" class="btn abc">Back to Home</button>
        </form>
    {% endblock body %}
        