{% extends 'layout.html' %}
{% block head %}
    <title>Register</title>
{% endblock %}
{% block body %}
    <div align="center">
        <form method='post'>
            <label for="email"><b>E-mail:</b></label>
            <input type="email" name='email'><br>
            <label for="password"><b>Pasword:</b></label>
            <input type="password" name='password' style="margin-right: 20px;"><br>
            <button type="submit" class="btn abc" style="margin-left: 54px;">Submit</button><br>
        </form>
    </div>
    <form class="tlb" action="{{ url_for('route_index') }}" method="get" style="display: inline;">
        <button type="submit" class="btn abc">Cancel</button>
    </form>
{% endblock %}
